@model IEnumerable<CustomerSupportResponseViewModel>

@{
    ViewData["Title"] = "Formulario de atención al cliente";
}

<div>
    <h1>Formulario web de atención al cliente</h1>
</div>
<div>
    <a asp-controller="CustomerSupport" asp-action="AddOrEdit" class="btn btn-primary">Agregar atención</a>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Teléfono Celular</th>
                <th>Email</th>
                <th>Sexo</th>
                <th>Motivo</th>
                <th>Fecha</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model ?? throw new NullReferenceException())
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.Mobile</td>
                <td>@item.Email</td>
                <td>@item.Gender</td>
                <td>@item.Reason</td>
                <td>@item.ContactDate</td>
                <td><a asp-controller="CustomerSupport" asp-action="AddOrEdit" asp-route-id="@item.Id">Editar</a></td>
                <td>
                    <a asp-controller="CustomerSupport" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('¿Está seguro de eliminar?')">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </table>

</div>
